.cart{
    background-color: white;
    padding: 20px 10%;
    
    button{
        margin: 0 10px 0 0;
    }

    img{
        height: 120px;
        margin: 0 20px 0 0;
    }
}

.cart-item{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;

    span{
        font-size: 24px;
        margin: 0 4px;
        line-height: 24px;
        display: inline-block;
        position: relative;
        top: 2px;
    }

    button{
        padding: 4px 10px;
        font-size: 16px;
        margin: 0;
    }

    &>div{
        display: inline-block;
    }
}