@import './layout.scss';
@import './form.scss';
@import './products.scss';
@import './cart.scss';

html, body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgb(238, 238, 238);
    min-width: 350px;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, ol, p{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

.container{
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 600px){
        width: 100%;
    }
}

main{
    padding-top: 20px;
}
