nav.navbar{
    height: 60px;
    background-color: dodgerblue;
    color: white;
    box-shadow: rgb(199, 199, 199) 1px 0 1px;
    position: sticky;
    top: 0;

    li{
        display: inline;

        a{
            color: white;
            text-decoration: none;
            font-size: 26px;
            padding: 13px;
            display: inline-block;
            border-bottom: 3px solid dodgerblue;
            
            &.active{
                border-bottom: 3px solid rgba($color: #fff, $alpha: 1);
            }
        }
    }
}

.right{
    float: right;
}

.left{
    float: left;
}

.loader{
    position: absolute;
    top: 100px;
    left: 50%;

    transform: translateX(-50%);

    img{
        margin: 0 auto;
        width: 100px;
        display: block;
    }
    
}

.middle{
    display: block;
    margin: 0 auto;
}

.message{
    width: 100%;
    padding: 10px;
    color: white;
    border: 4px solid black;
    margin-bottom: 20px;
    border-radius: 6px;

    &.danger{
        border-color: rgb(219, 32, 32);
        background-color: rgb(247, 137, 137);
    }
    
    //Todo add better colors
    &.success{
        border-color: rgb(6, 184, 6);
        background-color: rgb(134, 223, 134);
    }
}